<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="text/html; charset=UTF-8" />
<title>Security with Spring Boot</title>
</head> 
<body>
	<h1 style="color: green">Hello! This is Home Page!</h1>
	<div>
     <a style="color:blue" th:href="@{/welcome}">Go to User Welcome Page!</a>
    </div>
    <div>  
     <a style="color:blue" th:href="@{/admin}">Go to Admin Page!</a>
    </div>
</body>
</html>